__pycache__/

.vscode/

bench/build/*

bench/custom_api_cpp.egg-info/*

bench/run_kaggle_pt/*

custom-extension/build/*

custom-extension/custom_api_cpp.egg-info/*

custom-extension/dist/*

dlrm/__pycache__/*

dlrm/log/*

dlrm/run_kaggle_pt/*

model_weight

opacus/__pycache__/*

result/detailed_latency_breakdown/*

result/log/*

result/merged_result/*

!result/.tmp

!result/detailed_latency_breakdown/.tmp

!result/log/.tmp

!result/merged_result/.tmp